---
title: Joseph D. Van Alstyne
---

<h1>
  Joseph D. Van Alstyne
</h1>
<h2>
  developer
</h2>
<h3>
  current projects
  <ul>
    <li>
      <%= link_to(
          "oriori",
          "https://oriori.app",
          target: "_blank"
        ) %>
    </li>
    <li>
      <%= link_to(
        "task bud",
        "https://taskbud.app",
        target: "_blank"
      ) %>
    </li>
    <li>
      <%= link_to(
        "this website",
        "#"
      ) %>
    </li>
    <li>unannounced project</li>
  </ul>
</h3>
<h3>
  resume
</h3>
<h3>
  LinkedIn
</h3>
<h3>
  personal blog
</h3>
<h3>
  contact me
</h3>
